@font-face {
  font-family: AmesPro;
  font-weight: regular;
  src: url("./fonts/amespro-regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: MarvelLogo;
  font-weight: regular;
  src: url("./fonts/Marvel-Regular.ttf") format("opentype");
  font-display: swap;
}


body{
  font-family: AmesPro;
}

input{
  font-family: AmesPro;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.App {
  text-align: center;
}

.container{
  width: 1340px; margin:0 auto;
}