@font-face {
  font-family: AmesPro;
  font-weight: regular;
  src: url("./fonts/amespro-regular.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: MarvelLogo;
  font-weight: regular;
  src: url("./fonts/Marvel-Regular.ttf") format("opentype");
  font-display: swap;
}


body{
  font-family: AmesPro;
}

input{
  font-family: AmesPro;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
}

.app {
  position: relative;
  min-height: 100vh;
}

.container{
  width: 1340px; margin:0 auto;
}

.wrapper{
  padding-bottom: 1.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: 99%;
  height: 1.5rem;
  text-align: right;
}